.container {
  background-color: pink;
  height: 100%;
  padding: 8px;
  text-align: center;
  overflow-y: scroll;
  position: relative;
}

.commentContainer {
  margin: 8px auto;
  border: solid black 1px;
  padding: 4px;
}
