.ejercicio {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  width: fit-content;
  border: solid white 2px;
  background-color: black;
  border-radius: 8px;
}

.ejercicio span {
  margin: 2px;
  border-radius: 8px;
  border: solid black 2px;
  padding: 3px 7px;
  background-color: rgb(179, 218, 228);
}

.ejercicio:hover span {
  background-color: rgb(135, 160, 167);
}

.sectionSpan {
  margin: 0 4px;
  width: 144px;
}
