.mainContainer {
  width: 100%;
  height: 100%;
  background-color: khaki;
  padding: 33px;
  border: solid black 2px;
  text-align: center;
}

.kriyaNavbar {
  margin: 8px auto;
  height: 444px;
  overflow-y: scroll;
  width: fit-content;
  background-color: darkseagreen;
  padding: 7px;
  border-radius: 8px;
  border: solid black 1px;
}

.kriyaNavbar > * {
  margin: 0 2px;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.kriyaSection {
  background-color: rgb(206, 206, 36);
  border: solid black 2px;
  margin-top: 30px;
  height: 80%;
}

.ejercicio {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  width: fit-content;
  border: solid white 2px;
  background-color: black;
  border-radius: 8px;
}

.ejercicio span {
  margin: 2px;
  border-radius: 8px;
  border: solid black 2px;
  padding: 3px 7px;
  background-color: rgb(179, 218, 228);
}

.ejercicio:hover span {
  background-color: rgb(135, 160, 167);
}

.sectionSpan {
  margin: 0 4px;
  width: 144px;
}

.startKiryaBtn {
  padding: 4px;
  background-color: darkseagreen;
  border: solid black 1px;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.startKiryaBtn:hover {
  background-color: rgb(49, 139, 97);
}

.kriyaSignature {
  font-size: 0.5rem;
}
