.mainContainer {
  width: 555px;
  height: 70vh;
  padding: 8px;
  margin: 0 20px;
  text-align: center;
}

.kriyaNavbar {
  margin: 8px auto;
  overflow-y: scroll;
  width: 88%;
  height: 80%;
  background-color: darkseagreen;
  padding: 7px;
  border-radius: 8px;
}

.kriyaNavbar > * {
  margin: 0 2px;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.kriyaSection {
  background-color: rgb(206, 206, 36);
  border: solid black 2px;
  margin-top: 30px;
  height: 80%;
}

.kriyaSignature {
  font-size: 0.5rem;
}

.ejercicio {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 20px;
  width: fit-content;
  border: solid white 2px;
  background-color: black;
  border-radius: 8px;
}

.ejercicio span {
  margin: 2px;
  border-radius: 8px;
  border: solid black 2px;
  padding: 3px 7px;
  background-color: rgb(179, 218, 228);
}

.ejercicio:hover span {
  background-color: rgb(135, 160, 167);
}

.sectionSpan {
  margin: 0 4px;
  width: 144px;
}

.missingList {
  list-style-type: none;
}

.titleContainer {
  height: 7%;
}

.previewExercizesContainer {
  overflow-y: scroll;
  height: 83%;
}

.newKriyaBtnContainer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newKriyaBtn {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  font-size: 1.6rem;
  height: 80%;
  width: 200px;
  cursor: pointer;
  border: solid black 2px;
  animation: fadeIn 2s linear;
  opacity: 1;
}

.ejercicioContainer {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ejercicioOptions {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 20px;
  width: fit-content;
  border: solid white 2px;
  background-color: black;
  border-radius: 8px;
}

.ejercicioOptions span {
  margin: 2px;
  border-radius: 8px;
  border: solid black 2px;
  padding: 3px 7px;
  background-color: rgb(179, 218, 228);
}

.ejercicioOptions span:hover {
  color: red;
}
