.navbar {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(197, 152, 85, 1) 37%,
    rgba(186, 78, 157, 1) 65%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  z-index: 50;
  border-bottom: 2px solid black;
}

.leftNav {
  font-weight: bold;
  font-size: 2rem;
}

.rightNav {
  display: flex;
  flex-direction: row-reverse;
}

.rightNav ul {
  list-style-type: none;
  display: flex;
}

.rightNav a {
  margin: 0 10px;
}

.usernameBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: black;
  cursor: pointer;
}

.navDropdownWrapper {
  position: absolute;
  margin-left: auto;
  right: 0px;
  margin-top: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-right: 0.5rem;
  background-color: black;
  border-width: 1px;
  color: white;
  border-radius: 0.25rem /* 4px */;
  border-color: blue;
}

.navDropdown {
  display: flex;
  flex-direction: column;
}

.navDropdown li {
  line-height: 2rem;
}

.navDropdown li :hover {
  color: rgb(192, 177, 177);
}
