.container {
  background-color: rosybrown;
  padding: 2px;
  margin: 4px;
  display: inline-block;
  border-radius: 8px;
  padding: 7px;
}

.openStopwatch:hover {
  color: olive;
  cursor: pointer;
}
