.commentsContainer {
  width: 100%;
  border: solid black 1px;
  margin-top: 22px;
  padding: 4px;
}

.individualCommentContainer {
  padding: 8px;
  margin: 4px 0;
}

.newCommentContainer {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  margin-top: 22px;
  padding: 8px;
  background-color: rgb(111, 221, 184);
}

.newCommentContainer textarea {
  width: 88%;
  padding: 3px;
  height: 200px;
}

.dateDisplayFormat {
  display: block;
  font-size: 0.8rem;
  text-align: end;
}

.horizontalRule {
  color: black;
  margin: 8px 0;
}
