.mainContainer {
  margin-top: 8px;
  text-align: center;
  position: relative;
  height: 100%;
  min-height: fit-content;
}

.mainContainer h4 {
  margin: 0;
}

.controlsContainer > * {
  margin: 0 5px;
  padding: 3px;
  border-radius: 4px;
}

.controlsContainer button {
  bottom: 8px;
  left: 50%;
  padding: 8px;
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 8px;
  animation: fadeIn 1s linear;
  opacity: 1;
}

.messagesContainer {
  animation: fadeIn 1s linear;
}

.timeAlert {
  color: white;
  font-size: 3rem;
}

.subText {
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
