.main {
  display: flex;
  padding: 10px 40px;
}

.rightMain {
  padding: 20px 30px;
}
.userImage {
  border-radius: 100%;
  border: black 2px solid;
}

.userImage:hover {
  border: black 2px solid;
}
