.kriyaFormContainer {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newKriyaBtnContainer {
  text-align: center;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .kriyaFormContainer {
    flex-direction: column;
  }
}
