.outerDiv {
  margin: 22px;
  text-align: center;
  min-width: 400px;
}

.recordingsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pageDescription {
  width: 44%;
  margin: 0 auto;
}
