.mainContainer {
  background: url('/images/s-migaj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 44px);
  position: relative;
}

.wrapper {
  width: 500px;
  height: 500px;
  display: block;
  text-align: center;
  background-color: white;
  border: solid black 5px;
}
