.cronometro {
  text-align: center;
  margin: 22px auto;
  width: 60%;
  height: 50%;
  font-size: 2rem;
  background-color: tomato;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

.closeBtn {
  left: 5px;
  top: 0;
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
}

.cronometro h6 {
  text-decoration: underline;
}
